# Consider the Models: Prediction
I think the Logistic Regression model will perform better. Because we will be using loan_status as the Y variable, this binary variable will allow the data to be categorized into two clusters. While Random Forest model can do just as well, it is better suited for datasets with more categories of data.

In [10]:
import numpy as np
import pandas as pd
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [4]:
# Import data
train_df = pd.read_csv(Path('Resources/lending_data.csv'))
train_df.head(5)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [38]:
# Split the data into X_train, X_test, y_train, y_test
X = train_df.drop(columns=['loan_status'])
y = train_df['loan_status']

In [31]:
x_train, x_test, y_train, y_test = train_test_split(X, y)

In [32]:
x_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
68239,9700.0,7.233,48700,0.383984,4,0,18700
17225,9300.0,7.063,47100,0.363057,3,0,17100
51981,10400.0,7.544,51600,0.418605,4,1,21600
45891,8500.0,6.731,43900,0.316629,3,0,13900
61980,12700.0,8.528,60900,0.507389,6,1,30900

In [33]:
y_train.head()

68239    0
17225    0
51981    0
45891    0
61980    0
Name: loan_status, dtype: int64

In [34]:
x_test.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
55616,9800.0,7.282,49100,0.389002,4,0,19100
57664,11100.0,7.864,54600,0.450549,5,1,24600
40574,9600.0,7.220,48500,0.381443,4,0,18500
7446,9500.0,7.156,47900,0.373695,4,0,17900
70251,10000.0,7.390,50100,0.401198,4,1,20100

In [35]:
y_test.head()

55616    0
57664    0
40574    0
7446     0
70251    0
Name: loan_status, dtype: int64

In [36]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
classifier.score(x_test, y_test)

0.9921068922822947

In [37]:
# Train a Random Forest Classifier model and print the model score
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
rfc.score(x_test, y_test)

0.991642591828312

# Conclusion
Between Logistic Regression and Random Forest Classifier, Logistic Regression performed better.